In [16]:
import pandas as pd
import numpy as np
import os

In [17]:
pwd

'/Users/nachogutierrezdelaroza/Documents/2_PP/WM/portfolio-optimization/data/processed'

In [18]:
df = pd.read_excel("../raw/equities/em/hsbc_china_em_etf.xlsx", index_col='Date', parse_dates=True)
print(df.columns)
df.head()

Index(['Last Price', 'Name', 'FIGI', 'Ticker', 'Description'], dtype='object')

,Last Price,Name,FIGI,Ticker,Description
Date,,,,,
2025-06-06,7.35,HSBC MSCI China A UCITS ETF GBP iNAV,BBG01B9B2V63,HCASGBIV Index,Objective to replicate the performance of the ...
2025-06-05,7.33,NaN,NaN,NaN,NaN
2025-06-04,7.32,NaN,NaN,NaN,NaN
2025-06-03,7.31,NaN,NaN,NaN,NaN
2025-06-02,7.26,NaN,NaN,NaN,NaN

In [19]:
ticker_value = df['Ticker'].dropna().iloc[0]
df = df.rename(columns={'Last Price': ticker_value})
df.head()

,HCASGBIV Index,Name,FIGI,Ticker,Description
Date,,,,,
2025-06-06,7.35,HSBC MSCI China A UCITS ETF GBP iNAV,BBG01B9B2V63,HCASGBIV Index,Objective to replicate the performance of the ...
2025-06-05,7.33,NaN,NaN,NaN,NaN
2025-06-04,7.32,NaN,NaN,NaN,NaN
2025-06-03,7.31,NaN,NaN,NaN,NaN
2025-06-02,7.26,NaN,NaN,NaN,NaN

In [20]:
df_clean = df[[ticker_value]]
three_years_back = pd.Timestamp.now() - pd.DateOffset(years=3)
print(three_years_back)
df1 = df_clean[df_clean.index >= three_years_back]
df1.tail()

2022-06-06 20:03:43.587013

            HCASGBIV Index
Date
2022-06-13         566.750
2022-06-10         583.125
2022-06-09         577.500
2022-06-08         591.500
2022-06-07         570.125

In [23]:
df2 = pd.read_excel("../raw/equities/dev_ex_us/fid_gro_exus_etf.xlsx", index_col='Date', parse_dates=True)
ticker2 = df2['Ticker'].dropna().iloc[0]
df2 = df2.rename(columns={'Last Price': ticker2})
df2_clean = df2[[ticker2]]
df2_clean.tail()

            FFEDWGA LX
Date
2020-05-22       2.106
2020-05-21       2.101
2020-05-20       2.113
2020-05-19       2.073
2020-05-18       2.079

In [24]:
three_years_back = pd.Timestamp.now() - pd.DateOffset(years=3)
print(three_years_back)
df2 = df2_clean[df2_clean.index >= three_years_back]
df2.tail()

2022-06-06 20:03:55.698617

            FFEDWGA LX
Date
2022-06-13       2.073
2022-06-10       2.124
2022-06-09       2.171
2022-06-08       2.211
2022-06-07       2.206

In [25]:
df1 = df1.sort_index()
print(df1.head())
df2 = df2.sort_index()
print(df2.head())

            HCASGBIV Index
Date
2022-06-07         570.125
2022-06-08         591.500
2022-06-09         577.500
2022-06-10         583.125
2022-06-13         566.750
            FFEDWGA LX
Date
2022-06-07       2.206
2022-06-08       2.211
2022-06-09       2.171
2022-06-10       2.124
2022-06-13       2.073

In [27]:
df_combined = pd.concat([df1, df2], axis=1)
print(df_combined.head())
df_combined.tail()
df_combined.to_excel("etf_combined.xlsx")

            HCASGBIV Index  FFEDWGA LX
Date
2022-06-07         570.125       2.206
2022-06-08         591.500       2.211
2022-06-09         577.500       2.171
2022-06-10         583.125       2.124
2022-06-13         566.750       2.073

In [37]:
df_combined_nonan = df_combined.dropna()
print(f"Rows before: {len(df_combined)}")
print(f"Rows after: {len(df_combined_nonan)}")
print(f"Number of dates dropped: {len(df_combined) - len(df_combined_nonan)}")
df_combined_nonan.to_excel("etf_combined_nonan.xlsx")

Rows before: 784
Rows after: 751
Number of dates dropped: 33