In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pwd

'/Users/nachogutierrezdelaroza/Documents/2_PP/WM/portfolio-optimization/data/processed'

In [3]:
df = pd.read_excel("../raw/equities/uk_large_cap/uklarge_inv_etf.xlsx", index_col='Date', parse_dates=True)
print(df.columns)
df.head()

Index(['Last Price', 'Volume', 'SMAVG (15)', 'Name', 'FIGI', 'Ticker',
       'Description'],
      dtype='object')

,Last Price,Volume,SMAVG (15),Name,FIGI,Ticker,Description
Date,,,,,,,
2025-06-06,13.370,204.0,2691.0,INVESCO FTSE RAFI UK 100,BBG000TR0RZ0,PSRU LN Equity,The Fund seeks investment results that corresp...
2025-06-05,13.305,317.0,2726.0,NaN,NaN,NaN,NaN
2025-06-04,13.316,128.0,2789.0,NaN,NaN,NaN,NaN
2025-06-03,13.330,639.0,2949.0,NaN,NaN,NaN,NaN
2025-06-02,13.311,22541.0,3122.0,NaN,NaN,NaN,NaN

In [4]:
ticker_value = df['Ticker'].dropna().iloc[0]
df = df.rename(columns={'Last Price': ticker_value})
df.head()

,PSRU LN Equity,Volume,SMAVG (15),Name,FIGI,Ticker,Description
Date,,,,,,,
2025-06-06,13.370,204.0,2691.0,INVESCO FTSE RAFI UK 100,BBG000TR0RZ0,PSRU LN Equity,The Fund seeks investment results that corresp...
2025-06-05,13.305,317.0,2726.0,NaN,NaN,NaN,NaN
2025-06-04,13.316,128.0,2789.0,NaN,NaN,NaN,NaN
2025-06-03,13.330,639.0,2949.0,NaN,NaN,NaN,NaN
2025-06-02,13.311,22541.0,3122.0,NaN,NaN,NaN,NaN

In [5]:
df_clean = df[[ticker_value]]
three_years_back = pd.Timestamp.now() - pd.DateOffset(years=3)
print(three_years_back)
df1 = df_clean[df_clean.index >= three_years_back]
df1.tail()

2022-06-09 10:49:47.130009

            PSRU LN Equity
Date
2022-06-16          10.672
2022-06-15          11.238
2022-06-14          11.133
2022-06-13          11.115
2022-06-10          11.268

In [6]:
df2 = pd.read_excel("../raw/equities/dev_ex_us/fid_gro_exus_etf.xlsx", index_col='Date', parse_dates=True)
ticker2 = df2['Ticker'].dropna().iloc[0]
df2 = df2.rename(columns={'Last Price': ticker2})
df2_clean = df2[[ticker2]]
df2_clean.tail()

            FFEDWGA LX
Date
2020-05-22       2.106
2020-05-21       2.101
2020-05-20       2.113
2020-05-19       2.073
2020-05-18       2.079

In [7]:
three_years_back = pd.Timestamp.now() - pd.DateOffset(years=3)
print(three_years_back)
df2 = df2_clean[df2_clean.index >= three_years_back]
df2.tail()

2022-06-09 10:49:48.004407

            FFEDWGA LX
Date
2022-06-16       2.004
2022-06-15       2.073
2022-06-14       2.050
2022-06-13       2.073
2022-06-10       2.124

In [8]:
df1 = df1.sort_index()
print(df1.head())
df2 = df2.sort_index()
print(df2.head())

            PSRU LN Equity
Date
2022-06-10          11.268
2022-06-13          11.115
2022-06-14          11.133
2022-06-15          11.238
2022-06-16          10.672
            FFEDWGA LX
Date
2022-06-10       2.124
2022-06-13       2.073
2022-06-14       2.050
2022-06-15       2.073
2022-06-16       2.004

In [9]:
df_combined = pd.concat([df1, df2], axis=1)
print(df_combined.head())
df_combined.tail()
df_combined.to_excel("etf_combined.xlsx")

            PSRU LN Equity  FFEDWGA LX
Date
2022-06-10          11.268       2.124
2022-06-13          11.115       2.073
2022-06-14          11.133       2.050
2022-06-15          11.238       2.073
2022-06-16          10.672       2.004

In [10]:
df_combined_nonan = df_combined.dropna()
print(f"Rows before: {len(df_combined)}")
print(f"Rows after: {len(df_combined_nonan)}")
print(f"Number of dates dropped: {len(df_combined) - len(df_combined_nonan)}")
df_combined_nonan.to_excel("etf_combined_nonan.xlsx")

Rows before: 777
Rows after: 753
Number of dates dropped: 24